<div class="post-box">
    <div class="title-bar row">
    <h3>{{title}}</h3>
    <p>Posted by {{user.username}} on {{format_date date_created}}</p>
    </div>
    <div class="post-text">
        {{post_text}}
    </div>
</div>
{{#if logged_in}}
<form class="input-group mb-3" id="create-comment">
  <input type="text" class="form-control" placeholder="Your comment" aria-label="Comment" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="comment">Submit</button>
</form>
{{/if}}
{{#each comments as |comment|}}
<div class="comment-box container-sm">
  <p>{{comment.comment_text}}</p>
  <p>-{{comment.user.username}} {{format_date date_created}}</p>
</div>
{{/each}}